@charset "UTF-8";
/* CSS Document */

.paragraph {
	margin-top: 300px;
	margin-bottom: 400px;
	display: inline-block;
	width: 100%;
}

.paragraph h2 {
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
}

.paragraph h2 strong {
	color: tomato;
}